.hidden{
  display : none;
}

.imgWrap {
  position : relative;
  max-width: 100%; 
  height: auto;
}

#clock{
  position : absolute;
  z-index: 1;
  left : 50%;
  top: 50%;
  /* font-size:20px;
  font-family:'ypseo'; */
}

#greeting{
  position : absolute;
  z-index: 1;
  left : 50%;
  top: 60%;
}

#quote{
  position : absolute;
  z-index: 1;
  left : 50%;
  top: 80%;
}



